:root {
    --purple: #6d28d9;
    --whitey: #fcfcfc;
    --red-alarm: rgb(221, 29, 29);
    --slow-blue: #e4e2f0;
    --slow-purple: rgb(173, 173, 231);
    --transparent-color: rgba(0, 0, 0, 0);
}

body {
    background-color: var(--slow-blue);
    color: var(--whitey);
    font-family: iransans-light;
    z-index: 1;
}

a,
a:focus {
    color: inherit;
    text-decoration: none;
}


/* backGround shopCart */

.back-drop,
.back-drop-menu {
    display: none;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(97, 97, 97, 0.4);
    z-index: 2;
}


/* header */

header {
    display: grid;
    justify-items: center;
    background-color: var(--slow-purple);
    padding: 1rem 0rem;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    direction: rtl;
}

.shop-cart {
    cursor: pointer;
    position: relative;
    font-size: 1rem;
}

.cart-number {
    position: absolute;
    background-color: var(--red-alarm);
    border-radius: 50%;
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.6rem;
}


/* MenuHamburger */

.menu-hamburger {
    position: relative;
    display: grid;
    cursor: pointer;
    margin: 0 1rem;
    z-index: 1;
}

.menu-hamburger span {
    background-color: var(--whitey);
    width: 25px;
    height: 3px;
    border-radius: 1.5rem;
    position: absolute;
}

.menu-opened-right {
    transform: rotate(-45deg) translateX(-3px);
}

.menu-opened-left {
    transform: rotate(45deg) translateX(5px) translateY(8px);
}

.menu-hamburger span {
    transition: all 0.5s ease-in-out;
}

.menu-hamburger span:nth-child(2) {
    bottom: 4px;
}

.menu-hamburger span:last-child {
    top: 7px;
}


/* Menu */

.main-menu {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0 0 1.5rem;
    width: 200px;
    height: 100%;
    background-color: var(--slow-blue);
    color: var(--purple);
    visibility: hidden;
    z-index: 2;
}

.nav-items {
    display: grid;
    height: 100%;
    align-content: start;
    margin-top: 1rem;
}

.nav-item {
    padding: 0.8rem;
    white-space: nowrap;
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.nav-item .fa {
    margin: 0.5rem 1rem;
}

.hide {
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    animation: hide-box 0.5s ease-in-out;
}

.show {
    visibility: visible;
    animation: show-box 0.5s ease-in-out;
}

@keyframes show-box {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide-box {
    100% {
        opacity: 0;
        width: 0;
    }
}

.nav-item:first-child {
    position: relative;
}

.mode-view {
    cursor: pointer;
}


/* products */

main {
    color: var(--purple);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
    align-items: center;
    gap: 1rem;
    position: relative;
}

main h3 {
    padding-top: 1rem;
}

.search-product {
    border-radius: 5px;
}

.search-product input {
    border-radius: 5px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 0.8rem;
    background-color: var(--slow-purple);
    color: var(--whitey);
}

.search-product input::placeholder {
    color: var(--purple);
    opacity: 0.5;
}

.dark-search-color input,
.dark-search-color input::placeholder {
    background-color: #082544;
    color: var(--whitey);
}

.btn-header {
    display: flex;
    gap: 10px;
}

.filter-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.filter-btn {
    border: 1px solid var(--slow-purple);
    background-color: var(--transparent-color);
    border-radius: 10px;
    padding: 0.25rem 0.8rem;
    margin: 0.2rem;
    color: var(--purple);
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--slow-purple);
    color: var(--whitey);
}

.dark-filter-color {
    border: 1px solid #082544;
    color: var(--whitey);
}

.dark-filter-color:hover,
.dark-filter-color:focus {
    background-color: #1b74ce;
}

.products {
    margin: 1rem;
    display: grid;
    gap: 1rem;
    height: 100%;
}

.product-box {
    display: grid;
    grid-template-rows: 4.5fr 1fr 1fr;
    background-color: var(--whitey);
    border-radius: 8px;
    max-width: 220px;
    min-height: 300px;
}

.img-product {
    margin: 1rem;
    height: 200px;
}

.img-product img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.description {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    font: 0.8rem iransans-light;
}

.button-shop {
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 0.7rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--slow-blue);
    border-radius: 8px;
    color: var(--purple);
    margin: 0 0.2rem;
}


/* box-shop-cart */

.box-shop-cart {
    visibility: hidden;
    display: flex;
    position: absolute;
    border: 1px solid var(--whitey);
    width: 300px;
    min-height: 200px;
    top: -100%;
    background-color: var(--whitey);
    border-radius: 10px;
    transition: all 0.5s ease-in;
    z-index: 3;
}

.box-shop-cart h2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font: 1rem iransans-medium;
}

.box-shop-product {
    display: grid;
    grid-template-columns: 2.5fr repeat(3, 1fr);
    justify-content: space-around;
    padding: 0.5rem 0;
    align-items: center;
}

.img-cart {
    max-height: 130px;
    width: 100px;
}

.img-cart img {
    margin: 0 0.5rem;
    width: 100%;
    border-radius: 10px;
    height: 120px;
    object-fit: fill;
}

.product-description {
    display: grid;
    font: 0.7rem iransans-medium;
}

.product-description .price {
    font: 0.6rem iransans-light;
    margin-top: 0.5rem;
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

.box-shop-product .value {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.7rem;
}

.value span {
    margin: 0.3rem 0;
}

.value i {
    cursor: pointer;
}

.fa-trash-can {
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.box-shop-description {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    align-items: flex-end;
}

.button-box {
    display: grid;
    margin: 0.5rem 0;
    grid-template-columns: repeat(2, 1fr);
    justify-self: flex-end;
}

.button-box button {
    font-size: 0.75rem;
}

.total-price {
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    font: 0.6rem iransans-medium;
}

.dark-btn {
    background-color: #3b82f6;
    color: white;
}

.dark-color {
    background-color: #0e2338;
}

.low-dark-color {
    background-color: #234e7a;
    color: var(--whitey);
}

.dark-product {
    background-color: #082544;
}

.add-product:hover,
.btn-seleted {
    background-color: var(--transparent-color);
    border: 1px solid #1b74ce;
}

@media screen and (min-width: 600px) {
    .shop-cart {
        font-size: 1.2rem;
    }
    .cart-number {
        width: 18px;
        height: 15px;
        font-size: 0.7rem;
    }
    .search-product {
        width: 20rem;
    }
    .filter-list {
        display: flex;
    }
    .filter-btn {
        padding: 0.5rem 1rem;
        margin: 0.5rem;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-box {
        max-width: 250px;
        min-height: 300px;
    }
    .img-product {
        height: 220px;
    }
    /* box-shop-cart */
    .box-shop-cart {
        width: 400px;
    }
    .img-cart {
        max-height: 150px;
        width: 150px;
    }
    .img-cart img {
        margin: 0 0.5rem;
        width: 100%;
        border-radius: 10px;
        height: 130px;
        object-fit: fill;
    }
    .button-box button {
        font-size: 0.8rem;
    }
    .total-price {
        font: 0.8rem iransans-medium;
    }
    .product-description,
    .box-shop-product .value {
        display: grid;
        font: 0.9rem iransans-medium;
    }
    .product-description .price {
        font: 0.8rem iransans-light;
    }
    .fa-trash-can {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 900px) {
    header {
        display: flex;
        justify-content: space-around;
        background-color: var(--slow-purple);
        padding: 1rem 8rem;
        align-items: center;
    }
    .shop-cart {
        font-size: 1.5rem;
    }
    .cart-number {
        width: 20px;
        height: 18px;
        font-size: 0.8rem;
    }
    nav span,
    nav::after,
    nav::before {
        width: 40px;
        height: 6px;
    }
    .search-product input {
        padding: 0.8rem;
    }
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-box {
        max-width: 260px;
    }
    .img-product {
        height: 220px;
    }
    .box-shop-cart {
        width: 80vw;
    }
    .box-shop-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .box-shop-product {
        border: 1px solid rgba(206, 206, 206, 0.377);
    }
}

@media screen and (min-width: 1050px) {
    header {
        padding: 1rem;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .title-header {
        display: none;
        visibility: hidden;
    }
    .menu-hamburger {
        display: none;
    }
    .main-menu {
        display: flex;
        visibility: visible;
        position: relative;
        width: 0;
        background-color: inherit;
        justify-content: flex-end;
    }
    .nav-items {
        display: flex;
        margin-top: 0;
    }
    .nav-item {
        font-size: .9rem;
        color: var(--whitey)
    }
    .nav-item:first-child .fa {
        font-size: 1.5rem;
    }
    .nav-item:first-child {
        position: absolute;
        right: 40vw;
        bottom: -2px;
    }
    .mode-view b {
        display: none;
    }
}

@media screen and (min-width: 1150px) {
    .box-shop-cart {
        width: 65vw;
    }
    .products {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1350px) {
    .box-shop-cart {
        width: 60vw;
    }
}